<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<!-- https://v3.tailwindcss.com/docs/guides/angular -->

<table class="hover:border-collapse border border-slate-500 border-separate">
  <caption class="caption-top">
    Table 3.1: Professional wrestlers and their signature moves.
  </caption>
  <thead>
    <tr>
      <th class="border border-slate-600">State</th>
      <th class="border border-slate-600">City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-slate-700">Indiana</td>
      <td class="border border-slate-700">Indianapolis</td>
    </tr>
    <tr>
      <td class="border border-slate-700">Ohio</td>
      <td class="border border-slate-700">Columbus</td>
    </tr>
    <tr>
      <td class="border border-slate-700">Michigan</td>
      <td class="border border-slate-700">Detroit</td>
    </tr>
  </tbody>
</table>

<h1 class="bg-red-900">
  Save Changes
</h1>